
.widget{padding-right:0px; padding-left:0px;}

.location-pin:hover {
  stroke: #473C93;
  transition: all .2s ease;
  cursor: pointer;
}
  
.country:hover {
  opacity: .8;
}

.cls-2 {
  fill: #EBF1F3;
  stroke: #fff;
  stroke-width: .5px;
}
.cls-1, .cls-2, .cls-3 {
  fill: #473C93;
}

.cls-1, .cls-3 {
  stroke: #473C93;
  stroke-miterlimit: 10;
  stroke-width: .1px;
}

.cls-4 {
  fill: #473c93;
}

.state, .country, .country path {
  fill : #59CAE8;
  transition: all .4s ease;
}
.state:hover, .country:hover {opacity: .8 !important; cursor: pointer;}
.location-pin { fill:#ffffff !important;}
  
.bg-transparent {
  background-color: transparent !important;
}
  
.map-svg {
  width: 100%;
  height: auto;
}

.fixed {
  position: fixed;
}
  
.rel {
  position: relative;
}

.bcs-widget-row {
  position: relative; 
  z-index: 5;
 }
 
  
.bethany-logo {
	display: none; 
}
#blogofixed {
    width: 100% !important;
  	z-index:9999;
	position: fixed;
    top:0;
    left:0;
    transition: all 0.3s ease;
}
  
#divider {
    margin-left:10px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
   	height: 30px;
    width: 3px;
    border-radius: .1rem;
    background-color: #473C93;
}
#section-title {
    color: #473C93;
    margin-top: auto;
    margin-bottom: auto;
}

#continue-to-site {
  left: 70%;
  top: 64vh;
  z-index: 999;
  transform: translate(-50%, 50%);

}
  
  #head-text {
    z-index: 3;
	position: fixed;
    top: 50vh;
  	left: 10%;
  	transform: translate(0%, -0%);
}
  
#head-text h1{
	font-weight: 800;
  	font-size: 12rem;
  line-height: 12rem;
}
#bgdarkoverlay {
    position: fixed;
    top:0; left:0;
    z-index: 2;
    width:100%;
    height: 100vh;
	background-color: rgb(0,0,0,.55);
}
  
.rainfall-animation {
	animation: 1s rainfall ease 1; 
}
  
@keyframes rainfall{
 from{opacity:0; transform: translateY(-30px);} 
   to{opacity:1; transform: translateY(0px);} 
}
  
.animate, .rainfall {
  z-index:999;
  opacity:0;
 }
  
.fade-in {
  z-index:999;
	animation: 1s fadeIn ease 1; 
}
  
@keyframes fadeIn{
 from{opacity:0; transform: translateY(20px);} 
   to{opacity:1; transform: translateY(0px);} 
}

.delay-5 {
  animation-delay: .5;
}
  
.wins-container {
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: row;
  margin: 2% auto 2% auto;
}

.row-full {
   position: relative; 
   z-index: 5;
   width: 100%;
   padding: 0rem 5rem 0rem 5rem;
 }

 .row-title {
  padding: 0rem 5rem 0rem 5rem;
 }
  
 .row-fixed-width {
  width: 100%;
  max-width: 1925px;
  margin: auto;
  flex:1;
 }
  
.row-100 {
	width: 100%;
}
  
.row-half {
	width: 50%;
  padding: 5rem;
}
  
.row-third {
	width: 33%;
  padding: 5rem;
}
  
.row-two-third, .map-container {
	width: 66%;
  padding: 5rem;
}
  
.stat-container {
  width: 100%;
}
  
.row-half h1, .row-half h2, .row-half h3, .row-half h4, .row-half h5, .row-half p, .row-half a {
	margin: auto; 
}  
  
.toggle-image-overlay {
  z-index: 7;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,.6);
}

.row-copy {
  z-index: 999;
  width: 100%;
  font-size: 2.4rem;
}

.title-controls {
  border-radius: .5rem;
  transition: all .3s ease;
  width: 100%;
  text-align:center;
  border: 2px solid #D0D3D4;
  padding: 1.8rem;
  cursor: pointer;
}

.tc-active {
  border: 2px solid #59CAE8 ;
  background-color: #59CAE8;
}

.tc-active h5 {
  color: #ffffff !important;
}

.title-controls h5 {
  color: #D0D3D4;
}

.animate-img {
  opacity: 0;
  transform: translateX(0px);
}

.grow-image {
  animation: growImg .6s 1 ease;
}

@keyframes growImg {
  from {transform: translateX(-20px);opacity:0;}
  to {transform: translateX(0px);opacity:1;}
}

.winsandhightlights-img {
  min-height: 400px;
}

.swipe-right {
  animation: sw .6s 1 ease;
}

@keyframes sw {
  from {transform: translateX(-100vh); opacity:.2; }
  to {transform: translateX(0px); opacity:1; }
}

.swipe-left {
  animation: sl .6s 1 ease;
}

@keyframes sl {
  from {transform: translateX(100vh);opacity:.2; }
  to {transform: translateX(0px);opacity:1;  }
}

.fade-text-items {
  width: 40%;
  text-align: center;
  padding: 3% 0% 3% 0%; 
  margin: 0px auto 0px auto;
  transition: all .3s ease;
  transform: scale(110%);
}

.defualt-opacity {opacity: .3;transform: scale(100%);}
.increase-opacity {animation: increaseOpacity .3s ease 1;}
@keyframes increaseOpacity {
from{opacity:.3;transform: scale(100%);}
to{opacity:1;transform: scale(110%);}
}

.vimeo-wrapper iframe, .slide-image img {
  width:800px;
  height:450px;
}

.video-slider-parent-container, .image-slider-parent-container {
height: 100vh;
}

.image-slider-items {
  text-align:center;
  min-height: 70vh;
}
  
  .video-slider-items {
    min-height: 70vh;
  }
  
  
.slider-control {
  	display: flex;
  	flex-direction: column;
  	cursor: pointer;
  	transition: all .3s ease;
 	width: 50%; 
  	margin: auto;
    padding: 1.5rem 2rem 1.5rem 2rem;
}
.slider-control svg {
  	text-align:center;
  	margin: auto;
}
 .slider-control:hover {
  	opacity:.8;
  }
  
.img-and-text-container, .video-container {
  margin: auto;
  width: 100%;
  }
  .control-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: auto;
  }

  .mobile-only {
    display:none !important;
  }

@media screen and (max-width: 1925px){
  .row-half, .row-third, .row-two-third {
      padding: 3rem;
  }
}

@media screen and (max-width: 768px){

  p, .text-md {
    font-size: 2rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 2.3rem;
  }

  h5 {
    font-size: 1.8rem;
  }

  .desktop-only {
    display:none;
  }

  .mobile-only {
    display:flex !important;
  }
  
    #head-text h1{
      font-weight: 800;
      font-size: 5rem;
      line-height: 5rem;
    }
      
    h1 {
      font-size: 5rem;
    }
    
    .row-full {
      padding: 0rem;
    }

    .row-half, .row-third, .row-two-third {
      width: 100%;
        padding: 2.5rem;
    }

    .row-title {
      padding: 0% 2rem 0% 2rem;
    }
      
    .stat-container {
      width: 50%;
    }
      
    .map-container {
    width: 100%;
      height: 400px;
      max-height: 400px;
      overflow-x: scroll;
      overflow-y: scroll;
    }
      
    ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
      
    .drag-to-move-map {
    position: absolute;
    left:0%;
    top: 0%;
      width: 100%;
      height: 400px;
      color: #fff;
      background-color: rgb(0,0,0,.4);
    }
    .drag-to-move-map p {
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, 50%);
    }
    .map {width: 400%; height: auto;}

    .wins-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin: 2% auto 2% auto;
    }
    
    .row-icon {
      width: 20%;
      margin: auto;
    }

    .animate-img {
      transform: scale(100%);
    }
    
    .grow-image {
      animation: growImg .6s 1 ease;
    }
    
    @keyframes growImg {
      from {transform: scale(80%);opacity:0;}
      to {transform: scale(100%);opacity:1;}
    }
    
    .winsandhightlights-img {
      transform: scale(100%);
    }
    .fade-text-items {
      width: 80%;
    }

    .vimeo-wrapper iframe, .slide-image img {
        width:100%;
       height:auto;
    }

    .video-slider-parent-container, .image-slider-parent-container {
      height: auto;
    }

    .card-body {
      padding: 0rem 0rem 2rem 0rem;
    }
}
